<html>
<head>
<link rel="stylesheet" href="../scripts/functions/chess/js/chessboard-1.0.0.css">
<link rel="stylesheet" href="../scripts/functions/chess/js/chessboard-1.0.0.min.css">
</head>
<body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js
"></script>
<script src="../scripts/functions/chess/js/chessboard-1.0.0.js"></script>
<script src="../scripts/functions/chess/js/chessboard-1.0.0.min.js" integrity="sha384-8Vi8VHwn3vjQ9eUHUxex3JSN/NFqUg3QbPyX8kWyb93+8AC/pPWTzj+nHtbC5bxD" crossorigin="anonymous"></script>
<div id="myBoard" style="width: 400px"></div>
<script>
var board = Chessboard('myBoard')


</script>
</body>
</html>